<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enableEnemyRandomization>true</enableEnemyRandomization>
  <enableNormal>true</enableNormal>
  <enableWorms>true</enableWorms>
  <enableBosses>true</enableBosses>
  <enableLargeBosses>true</enableLargeBosses>
  <enableVehicles>false</enableVehicles>
  <enableNormalSummoned>true</enableNormalSummoned>
  <enableBossSummoned>true</enableBossSummoned>
  <enableAmmoRandomization>false</enableAmmoRandomization>
  <enableCratesTurningIntoAmmo>false</enableCratesTurningIntoAmmo>
  <unlockAllFlexPowers>false</unlockAllFlexPowers>
  <showNormal>false</showNormal>
  <showWorms>false</showWorms>
  <showBosses>false</showBosses>
  <showLargeBosses>false</showLargeBosses>
  <showVehicles>false</showVehicles>
  <showAmmo>false</showAmmo>
  <enabledNormal>
    <int>0</int>
    <int>1</int>
    <int>2</int>
    <int>3</int>
    <int>4</int>
    <int>5</int>
    <int>6</int>
    <int>7</int>
    <int>8</int>
    <int>9</int>
    <int>10</int>
    <int>11</int>
    <int>12</int>
    <int>13</int>
    <int>14</int>
    <int>15</int>
    <int>16</int>
    <int>17</int>
    <int>18</int>
    <int>19</int>
    <int>20</int>
    <int>21</int>
    <int>22</int>
    <int>23</int>
    <int>24</int>
    <int>25</int>
    <int>26</int>
    <int>27</int>
    <int>28</int>
    <int>29</int>
    <int>30</int>
    <int>31</int>
    <int>32</int>
    <int>33</int>
    <int>34</int>
    <int>35</int>
    <int>36</int>
    <int>37</int>
    <int>38</int>
  </enabledNormal>
  <enabledWorms>
    <int>0</int>
    <int>1</int>
    <int>2</int>
    <int>3</int>
    <int>4</int>
    <int>5</int>
  </enabledWorms>
  <enabledBosses>
    <int>0</int>
    <int>1</int>
  </enabledBosses>
  <enabledLargeBosses>
    <int>0</int>
    <int>1</int>
    <int>2</int>
    <int>3</int>
  </enabledLargeBosses>
  <enabledVehicles>
    <int>0</int>
    <int>1</int>
    <int>2</int>
    <int>3</int>
    <int>4</int>
    <int>5</int>
    <int>6</int>
    <int>7</int>
    <int>8</int>
    <int>9</int>
    <int>10</int>
  </enabledVehicles>
  <enabledAmmoTypes>
    <int>0</int>
    <int>1</int>
    <int>2</int>
    <int>3</int>
    <int>4</int>
    <int>5</int>
    <int>6</int>
    <int>8</int>
  </enabledAmmoTypes>
  <enableInstantWin>true</enableInstantWin>
  <enableDeathField>true</enableDeathField>
  <enableSpawnedEnemiesRandomization>true</enableSpawnedEnemiesRandomization>
  <enemyPercent>100</enemyPercent>
  <normalEnemyPercent>100</normalEnemyPercent>
  <wormPercent>2</wormPercent>
  <bossPercent>5</bossPercent>
  <largeBossPercent>3</largeBossPercent>
  <vehiclePercent>1</vehiclePercent>
  <ammoRandomizationPercent>100</ammoRandomizationPercent>
  <cratesToAmmoPercent>1</cratesToAmmoPercent>
  <defaultSettings>false</defaultSettings>
  <DEBUG>false</DEBUG>
  <debugMookType>0</debugMookType>
  <debugMookTypeSummoned>0</debugMookTypeSummoned>
</Settings>