<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <alwaysChosen>false</alwaysChosen>
  <ignoreCurrentUnlocked>false</ignoreCurrentUnlocked>
  <includeUnfinishedCharacters>false</includeUnfinishedCharacters>
  <clickingEnabled>true</clickingEnabled>
  <disableConfirm>true</disableConfirm>
  <swapCoolDown>0.5</swapCoolDown>
  <selGridInt>
    <int>0</int>
    <int>0</int>
    <int>0</int>
    <int>0</int>
  </selGridInt>
  <showSettings>
    <boolean>true</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
  </showSettings>
  <swapLeftKeys>
    <KeyBind>
      <kc>None</kc>
      <waitingForInput>false</waitingForInput>
      <DPADString>NONE</DPADString>
      <DPADKey>NONE</DPADKey>
      <joystick>NONE</joystick>
    </KeyBind>
    <KeyBind>
      <kc>None</kc>
      <waitingForInput>false</waitingForInput>
      <DPADString>NONE</DPADString>
      <DPADKey>NONE</DPADKey>
      <joystick>NONE</joystick>
    </KeyBind>
    <KeyBind>
      <kc>None</kc>
      <waitingForInput>false</waitingForInput>
      <DPADString>NONE</DPADString>
      <DPADKey>NONE</DPADKey>
      <joystick>NONE</joystick>
    </KeyBind>
    <KeyBind>
      <kc>None</kc>
      <waitingForInput>false</waitingForInput>
      <DPADString>NONE</DPADString>
      <DPADKey>NONE</DPADKey>
      <joystick>NONE</joystick>
    </KeyBind>
  </swapLeftKeys>
  <swapRightKeys>
    <KeyBind>
      <kc>None</kc>
      <waitingForInput>false</waitingForInput>
      <DPADString>NONE</DPADString>
      <DPADKey>NONE</DPADKey>
      <joystick>NONE</joystick>
    </KeyBind>
    <KeyBind>
      <kc>None</kc>
      <waitingForInput>false</waitingForInput>
      <DPADString>NONE</DPADString>
      <DPADKey>NONE</DPADKey>
      <joystick>NONE</joystick>
    </KeyBind>
    <KeyBind>
      <kc>None</kc>
      <waitingForInput>false</waitingForInput>
      <DPADString>NONE</DPADString>
      <DPADKey>NONE</DPADKey>
      <joystick>NONE</joystick>
    </KeyBind>
    <KeyBind>
      <kc>None</kc>
      <waitingForInput>false</waitingForInput>
      <DPADString>NONE</DPADString>
      <DPADKey>NONE</DPADKey>
      <joystick>NONE</joystick>
    </KeyBind>
  </swapRightKeys>
</Settings>